         
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 110px;
    height: 60px;
}

.nav-link:hover {
    color: black;
    background-color: #F7F7F7;
    border-radius: 20px;
}

#search>div>div.col-8>div {
    border: 1px solid rgba(0, 0, 0, 0.169);
    border-radius: 30px;
    height: fit-content;
}

#search>div>div.col-8>div>div:nth-child(1):hover {
    color: black;
    background-color: #F7F7F7;
    border-radius: 30px;
}

#search>div>div.col-8>div>div:nth-child(2):hover {
    color: black;
    background-color: #F7F7F7;
    border-radius: 30px;
}

#search>div>div.col-8>div>div:nth-child(3):hover {
    color: black;
    background-color: #F7F7F7;
    border-radius: 30px;
}

#search>div>div.col-8>div>div:nth-child(4):hover {
    color: black;
    background-color: #F7F7F7;
    border-radius: 30px;
}

#search>div>div.col-8>div>div.col-4.d-flex.justify-content-around>div:nth-child(2)>button {
    border: 1px solid rgba(0, 0, 0, 0.169);
    border-radius: 50px;
    height: 40px;
    width: 60px;
    background-color: #E21C5D;
    color: #F7F7F7;
}

body > div.section1 > div > div > div:nth-child(1) > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .img8 {
    border-radius: 20px 0px 0px 20px;
  }
  
  .img10 {
    border-radius: 0px 20px 0px 0px;
  }
  
  .img12 {
    border-radius: 0px 0px 20px 0px;
  }
  

/*css applicato a booking card Martina*/
.card-booking {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px; 
    
    
  }
  body > div.section1 > div {
    position:static;
    margin-top: 3em;
    margin-bottom: 100px;
  }


  
  h2 {
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input[type="date"],
  input[type="number"] {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  input[type="submit"] {
    background-color: #E21C5D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    cursor: pointer;
  }

  body > nav > div > div > div.col-4.text-right > ul > div > button {
    border-radius: 30px;
  }
  body > header > nav.navbar.navbar-expand-lg.navbar-light.bg-body.d-none.d-md-block > div > div > div.col-4.text-right > ul > div > button {
    border-radius: 30px;
  }
  /*fine css Martina*/

body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

h2 {
    font-size: 1rem;
    margin: 0;
}

p {
    font-size: 1rem;
    margin: 0;
}

#activeApartment img,
#pastExperiences img {
    border-radius: 15px;
}

.carousel-indicators [data-bs-target] {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.carousel.inner {
    border-radius: 15px;
}

.card-button {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #E3D8D1;
    border-radius: 30px 30px;
    padding: 0.2em 1em;
    border: none;
    font-size: 14px;
}

.icon-card {
    background-color: #E3D8D1;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    padding: 9px;
    display: flex;
    transition: transform .3s;
}


.icon-card:hover {
    background-color: white;
    cursor: pointer;
    transform: scale(1.07);
}


.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
}


.slider-button-next {
    background-color: #E3D8D1;
    display: flex;
    border-radius: 50%;
    padding: 0.5rem;
    z-index: 999;
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    transition: opacity 0.3s;
    opacity: 0;
}

.slider-button-prev {
    background-color: #E3D8D1;
    display: flex;
    border-radius: 50%;
    padding: 0.5rem;
    z-index: 999;
    position: absolute;
    left: 10px;
    top: 50%;
    cursor: pointer;
    transition: opacity 0.3s;
    opacity: 0;
}

main section .carousel:hover .slider-button-next {
    opacity: 1;
}

main section .carousel:hover .slider-button-prev {
    opacity: 1;
}

header .carousel p {

    font-size: small;
    margin-top: 0.4rem;
    display: flex;
    justify-content: center;
    opacity: 0.7;


}


header .carousel img {
    width: 20px;
    height: auto;
    opacity: 0.5;
    margin-left: 45%;

}

header .carousel-control-next:hover,
.carousel-control-prev:hover {
    transform: scale(1.1);

}


header .carousel .col-2 img,
.row p {
    transition: opacity 0.3s ease;

}

header .carousel .container{
    height: 4rem;
}

header .carousel .col-2:hover img,
.col-2:hover p {
    cursor: pointer;
    opacity: 1.3;

}

header .carousel .col-2:hover {

    cursor: pointer;
    border-bottom: 2px solid rgb(214, 214, 214);
}

header .carousel-item {
    transition: transform 1s ease-in-out;
}

.carousel-control-next {
    margin-right: -6%;
}

.carousel-control-prev {

    margin-left: -6%;
}

header .carousel-inner {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* .row {
    overflow: hidden;
} */


/*inizia css pag3*/
.sectionM .container {
    display: flex;
    flex-wrap: wrap;
}

.sectionM .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sectionM .col-lg-2,
.sectionM .col-md-4,
.sectionM .col-sm-12 {
    display: flex;
    flex-direction: column;
}

.sectionM .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 20em; /* Imposta l'altezza minima desiderata */
}

.sectionM .card-img-top {
    object-fit: cover;
    height: 50%;
}

.sectionM .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.bottoncino {
    border-radius: 30px;
    padding: 0.2em 1em;
    border: 1px solid black;
    font-size: 14px;
    background-color: white;
}

.bottoncino:hover {
    background-color: rgb(214, 214, 214);
    cursor: pointer;
}


footer ul > li{
    list-style-type: none;
    font-size: 1rem;
}

footer .section   a{
    text-decoration: none;
    
}

footer .section a:hover{
    text-decoration: underline;
}

@media(max-width:720px){ /*prova schermi small con classe colun*/
    .fondoPagina{
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        font-size: 9px;
}
}



@media(max-width:720px){ /*prova schermi small con classe media*/
    .media li a{
     font-size: 14px;
}
    .media1 li{   /*prova schermi small con classe media*/
        font-size: 15px;
    }
    .media0 li a{
        font-size: 18px;
        
        
    }
}   

@media(min-width:768px){
    .calendar{
        display:flex;
        
    }
    .calendar2{
        margin-left: 10rem;
    }
}

@media(max-width:768px){
    .calendar2{
        margin-left: 4rem;
    }
}


@media (min-width:760px) and (max-width:990px) {    /*prova schermi tablet class provaNav per bottons nav*/
    .provaNav{
   
        height: 30px;
        width: 30px;
    }
}